:root {
    --nav-background-color: #a8a8a8;
    --nav-lighter-background-color: #c7c7c7;
    --nav-text-color: #000000;
}
p {
    font-family: 'Garamond', serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Copperplate', sans-serif;
}
a {
    font-family: 'Monaco', sans-serif;
}
nav > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
nav > div > a {
    margin-left: none;
    margin-right: none;
    margin-top: none;
    color: var(--nav-text-color);
    text-decoration: none;
    font-size: 1.2rem; 
    flex-grow: 1;
    text-align: center;
    background-color: var(--nav-background-color);    
}
nav > div > a:hover {
    color: var(--nav-text-color);
    text-decoration: underline;
    
    background-color: var(--nav-lighter-background-color);
}


